*{
    margin:0;
    padding:0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}
#main{
    width: 100%;
    min-height: 100vh;

}
.top{
    width: 100%;
    min-height: 60vh;
    background-image: url(https://images.pexels.com/photos/1571442/pexels-photo-1571442.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260);
    background-size: cover;
    background-position: center;
}
.top .overlay{
    position: relative;
    width: 100%;
    min-height: inherit;
    background-color: rgba(0, 0, 0, 0.155);

}
.text{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: 100%;
    padding: 0 10vh;
    color:black;
    bottom: 5%;
}
.text h1{
    font-weight: 600;
    font-size: 4vw;
}
.text .image{
    background-image: url(https://static.vecteezy.com/system/resources/previews/014/689/466/original/mountain-illustration-old-style-black-and-white-mountain-illustration-on-white-background-black-and-white-mountain-vector.jpg);
    background-size: cover;
    background-position: center;
    height: 300px;
    width: 220px;
}
#rtext{
    display: flex;
    width: 25%;
    align-items: center;
    justify-content:space-between;
}
.rtext p{
font-size: 20px;

}
.bottom{
    display: flex;
    width: 100%;
    min-height: 40vh;
}
.b1{
    width: 30%;
    min-height: inherit;
    background-image: url(https://cdn.mos.cms.futurecdn.net/5PMe5hr8tjSS9Nq5d6Cebe.jpg);
    background-size: cover;
    background-position: center;
}
.b1 h1{
    text-align: center;
    padding: 30px;

}
.b1 p{
    color:whitesmoke;
    text-align: center;
    padding: 15px;
}
.b2{
width: 30%;
min-height: inherit;
display: flex;
flex-direction: column;
}
.b2 .up{
    width: 100%;
    min-height: 20vh;
    background-image: url(https://cdn.wallpapersafari.com/18/30/tjH1Pc.jpg);
    background-size: cover;
    background-position: center;
}
.b2 .up h1{
    text-align: center;
    padding: 30px;
}
.b2 .up p{
    color: whitesmoke;
    text-align: center;
    padding: 15px;
}
.b2 .down{
    width: 100%;
    min-height: 20vh;
    background-image: url(https://cdn.wallpapersafari.com/98/76/obSC4j.jpg);
    background-size: cover;
    background-position: center;
    
}
.b2 .down .overlay{
    position: relative;
    width: 100%;
    min-height: 20vh;
    background-color: rgba(255, 255, 255, 0.111);
}
.b3{
    width:30%;
    min-height: inherit;
background-image: url(https://cdn.wallpapersafari.com/36/7/yQJgVY.jpg);
background-size: cover;
background-position: center;
}
.b3 .overlay{
    justify-content: right;
    position: relative;
    margin-left: 50%;
    width: 50%;
    height: 100%;
    padding: 4vw 3vh;
}
.b3 .overlay p{
padding: 1.2vh;
}
@media(max-width:700px){
    .rtext{
        flex-direction: column;
    }
    .b3 .overlay{
        width: 100%;
        margin-left: initial;
    }
}
@media(max-width:500px){
    .text{
        flex-direction: column;
        align-items: flex-start;
    }
    .text h1 {
        font-size: 5vh;
    }
    .text .image {
        height: 200px;
        width: 140px;
        margin-top: 20px;

    }
    .rtext{
        flex-direction: column;
        align-items: flex-start;
    }
    .rtext p{
        margin: 10px;
    }
    .icons{
        margin-top: 10px;
    }
    .bottom{
        flex-direction: column;
        align-items: flex-start;
    }
    .b1{
width: 100%;
min-height: 30vh;
    }
    .b2{
width: 100%;
    }
    .b2 .up{
        min-height: 30vh;
    }
    .b3{
width: 100%;
min-height: 30vh;
background-position: left;
    }
}

    